---
import { Icon } from "astro-icon/components";
---

<div class="mt-10">
  <h2 class="text-sm font-bold leading-7 text-slate-500 text-left mb-5">
    Nuestras tecnologías de trabajo
  </h2>

  <div
    class="w-full m-auto flex gap-8 md:gap-10 items-center justify-between flex-wrap"
  >
    <Icon class="h-14 w-32" name="vscode-icons:file-type-js" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-html" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-css" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-astro" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-angular" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-nestjs" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-node" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-reactjs" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-mysql" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-mongo" />
    <Icon class="h-14 w-32" name="vscode-icons:file-type-aws" />
    <Icon class="h-14 w-32" name="devicon:figma" />
    <Icon class="h-14 w-32" name="devicon:postgresql" />
    <Icon class="h-14 w-32" name="devicon:git" />
  </div>
</div>
