---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter"; // Defaults to wght axis

export interface Props {
  title: string;
}

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "DevJoel"
  : "DevJoel - Código Creativo para tu Negocio: Diseño y Desarrollo Web a Medida";
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head transition:animate={fade({ duration: "0.5s" })}>
    <meta charset="UTF-8" />
    <meta
      id="wixMobileViewport"
      name="viewport"
      content="width=320, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />

    <SEO
      title={makeTitle}
      description="A heavily optimized description full of well-researched keywords."
      openGraph={{
        basic: {
          title: "A Very Descriptive Title",
          type: "A type.",
          image:
            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        },
      }}
      twitter={{
        creator: "@jonasmerlins1",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content:
              "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          },
          { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body transition:animate="slide">
    <main>
      <Navbar />
      <slot />
      <Footer />
      <style is:global></style>
    </main>
  </body>
</html>
